<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="./img/35097.9676430812.JPG" alt="Picture of me">
        {{>footer}}
    </body>
</html>